<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">

<mapper namespace="com.pixelo.fileupload.mapper.BoardFileUploadMapper">

	<insert id="fileUpload"  parameterType="java.util.List">
		<foreach collection="list" item="item" index="index" open="INSERT ALL " separator=" " close="SELECT * FROM DUAL">
		into board_fileUpload (boardNo, orgFileName, fileName, fileSize, realSavePath)
		values
		(#{item.boardNo}, #{item.orgFileName}, #{item.fileName}, #{item.fileSize}, #{item.realSavePath})
		</foreach>
	</insert>
	

	<select id="getFileName" resultType="com.pixelo.board.vo.FileUploadVO">
		select orgFileName, fileName, fileSize, realSavePath from board_fileUpload where boardNo = #{no} 
	
	</select>
</mapper>
